<h1>Listagem de Vendas</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>Produto</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <% vendas.forEach(venda => { %>
            <tr>
                <td><%= venda.id %></td>
                <td><%= venda.user ? venda.user.username : 'Desconhecido' %></td>
                <td><%= venda.produto ? venda.produto.nome : 'Desconhecido' %></td>
                <td>
                    <a href="/vendas/<%= venda.id %>" class="btn btn-primary">Detalhes</a>
                    <a href="/vendas/<%= venda.id %>/edit" class="btn btn-warning">Editar</a>
                    <form action="/vendas/<%= venda.id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<a href="/vendas/new" class="btn btn-primary">Nova Venda</a>
